@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

p {
  font-weight: 300;
  color: #111;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("images/jordan-bg1.jpg");
  background-size: cover;
}

html,
body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-area {
  flex: 1;
}

footer {
  text-align: center; /* Center the text horizontally */
  width: 100%; /* Make the footer extend full width */
  padding: 5px 0; /* Add some padding for spacing */
  background-color: #fff; /* Optional: Background color */
  color: #333; /* Text color */
  /* Additional styles as needed */
}

.content {
  margin-top: -100px;
}

.banner .content {
  max-width: 900px;
  text-align: center;
  position: relative;
}

.banner .content h2 {
  font-size: 5em;
  color: #fff;
  margin-bottom: 70px;
}

.banner .content p {
  font-size: 1.5em;
  color: #fff;
  margin-top: -25px;
}

#contact {
  margin-bottom: 0;
  padding-bottom: 40px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #fff;
  padding: 40px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo {
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}

header.sticky .logo {
  color: #111;
}

header .logo span {
  color: #ce1141;
}

header .navigation {
  position: relative;
  display: flex;
}

header .navigation li {
  list-style: none;
  margin-left: 30px;
}

header .navigation li a {
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}

header.sticky .navigation li a {
  color: #111;
}

header .navigation li a:hover {
  color: #ce1141;
  transition: 0.8s;
}

section {
  padding: 168px;
}

.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.banner .content .downArrow {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -155px;
  left: 0;
  right: 0;
}

.banner .content .downArrow svg {
  height: 40px;
  overflow-x: hidden;
  animation: animateDown infinite 1.5s;
  padding: 0;
  border: none;
}

@keyframes animateDown {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5px);
  }
  60% {
    transform: translateY(3px);
  }
}

.titleText {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}

.titleText span {
  color: #ce1141;
  font-weight: 700;
  font-size: 1.5em;
}

.row .col50 .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.row .col50 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 25px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.rings .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 40px;
}

.rings .content .box {
  width: 250px;
  margin: 15px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.imgBx {
  position: relative;
}

.video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.rings .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.rings .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rings .content .box .text {
  padding: 15px 0 5px;
}

.rings .content .box .text h3 {
  font-weight: 400;
  color: #111;
  text-align: center;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
  display: none;
}

.modal.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  margin-top: 150px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  z-index: 1001;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.shoes .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.shoes .content .box {
  width: 250px;
  margin: 15px;
}

.shoes .content .box .imgBx {
  position: relative;
  width: 100%;
  height: 300px;
}

.shoes .content .box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shoes .content .box .text {
  padding: 15px 0 5px;
}

.shoes .content .box .text h3 {
  font-weight: 400;
  color: #111;
  text-align: center;
}

.victims {
  background: #fff;
}

.white .titleText,
.white p {
  color: #000000;
}

.victims .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.victims .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.victims .content .box .imgBx {
  position: relative;
  width: 320px;
  height: 160px;
  margin-bottom: 20px;
  overflow: hidden;
}

.victims .content .box .imgBx video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.victims .content .box .text {
  text-align: center;
}

.victims .content .box .text p {
  color: #666;
  font-style: italic;
}

.victims .content .box .text h3 {
  margin-bottom: 20px;
  color: #111;
  font-size: 1em;
  color: #ce1141;
  font-weight: 600;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px; /* Adjust size as needed */
  color: white; /* Adjust color as needed */
  cursor: pointer;
  z-index: 10; /* Ensure it's above the thumbnail */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px; /* Diameter of the circle */
  height: 60px; /* Diameter of the circle */
  background-color: #ce1141; /* Background color of the circle */
  border-radius: 50%; /* Makes the background a circle */
  position: relative;
}

.play-button i {
  color: inherit;
  font-size: inherit;
  position: relative;
  z-index: 11;
  right: -1px;
}

.contact {
  background: url(images/jordan-bg3.png);
  background-size: cover;
  max-width: 100%;
  height: auto;
  padding-bottom: 0;
}

.contactForm {
  padding: 50px 30px;
  background: #fff;
  max-width: 500px;
  margin-top: 50px;
}

.contactForm h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  border: 1px solid #555;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}

.contactForm .inputBox input[type="submit"] {
  font-size: 1em;
  color: #fff;
  background: #ce1141;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.copyrightText {
  padding: 4px 40px; /* Reduced top and bottom padding */
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
}

.copyrightText p {
  color: #333;
}

.copyrightText a {
  color: #ce1141;
  font-weight: 500;
  text-decoration: none;
}

#recaptcha {
  margin: 0px;
  width: 304px;
  position: relative;
  float: left;
}

#recaptcha iframe {
  position: absolute;
  left: 0px;
  top: 0px;
}

#formStatus {
  color: #d9534f;
  margin-top: -20px;
  height: 20px;
  padding: 5px;
}

p#formStatus {
  width: 200px;
}

@media (max-width: 991px) {
  header,
  header.sticky {
    padding: 10px 20px;
  }

  header .navigation {
    display: none;
  }

  header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }

  header .navigation li {
    margin-left: 0;
  }

  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }

  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .menuToggle.active {
    background: url(images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }

  header.sticky .menuToggle {
    filter: invert(1);
  }

  section {
    padding: 75px;
  }

  .banner .content h2 {
    font-size: 3em;
    color: #fff;
  }

  .row {
    flex-direction: column;
  }

  .row .col50 {
    position: relative;
    width: 100%;
  }

  .row .col50 .imgBx {
    height: 300px;
    margin-top: 20px;
  }

  .rings .content {
    margin-top: 20px;
  }

  .rings .content .box {
    margin: 10px;
  }

  .rings .content .box .imgBx {
    height: 260px;
  }

  .title {
    text-align: center;
  }

  .titleText {
    font-size: 1.8em;
    line-height: 1.5em;
    margin-bottom: 15px;
    font-weight: 300;
  }

  .victims .content .box {
    margin: 10px;
    padding: 20px;
  }

  .contactForm {
    padding: 35px 40px;
    margin-top: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .banner .content h2 {
    font-size: 2.2em;
    color: #fff;
  }
  iframe {
    transform: scale(0.77);
    -webkit-transform: scale(0.77);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}
